<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feb</title>
</head>
<head>
    <title>Navbar CSS</title>

</head>
<body>
<nav>
     <ul>
     	<li><a href="page/profil.html">PROFIL</a></li>
     	<li><a href="page/faperta.html">FAPERTA</a></li>
     	<li><a href="page/feb.html">FEB</a></li>
         <li><a href="page/fh.html">FH</a></li>
         <li><a href="page/fisip.html">FISIP</a></li>
         <li><a href="page/fk.html">FK</a></li>
         <li><a href="page/fkip.html">FKIP</a></li>
         <li><a href="page/ft.html">FT</a></li>
         <li><a href="page/pascasarjana.html">PASCASARJANA</a></li>
     </ul>
</nav>
<h1>UNIVERSITAS SULTAN AGENG TIRTAYASA</h1>



</body>